<ion-header>

  <ion-navbar>
    <ion-title>Cadastro de transporte</ion-title>
     <ion-buttons end>
      <button ion-button icon-only (click)="excluir()"  *ngIf="transporte.id">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="salvar()" >
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-input type="text" [(ngModel)]="transporte.descricao" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Motoristas</ion-label>
        <ion-select [(ngModel)]="motoristaSelecionado">
          <ion-option *ngFor="let mot of motoristas" value="{{ mot.nome }}">{{ mot.nome }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button icon-only (click)="openGallery()">
          <ion-icon name="contact"></ion-icon>
        </button>
      </ion-item>
      <button ion-button round icon-left (click)="cadastrarRota()">
        <ion-icon name='map' ></ion-icon>
        Rota
    </button>
    </ion-list>
    
</ion-content>
